*
{
    box-sizing: :border-box;

   }
   .container
   {
    width: 50%;
    border:1px solid green;
    padding: 20px;
    margin: 0 auto;
   }
      input,select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px  solid gold;
}
input[type="submit"]{
  background-color: aqua;
  color: #000;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: lightgreen;
}
input[type="email"]:focus{
  background-color: orangered;
}
input[type="search"]{
  display:block;
  width:20%;
}
input[type="search"]:hover{
  width:100%;
  transition: width .7s ease-in-out;
}